In [1]:
from datetime import datetime, timedelta
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_gbq
import pydata_google_auth
from concurrent.futures import ThreadPoolExecutor, as_completed
from google.cloud import bigquery
from tqdm.notebook import tqdm
from dateutil import tz
from BigQueryTools import QueryTool
import re

SCOPES = [
    'https://www.googleapis.com/auth/cloud-platform',
    'https://www.googleapis.com/auth/drive',
]
credentials = pydata_google_auth.get_user_credentials(
    SCOPES,
    # Set auth_local_webserver to True to have a slightly more convienient
    # authorization flow. Note, this doesn't work if you're running from a
    # notebook on a remote sever, such as over SSH or with Google Colab.
    auth_local_webserver=True,
)

%load_ext google.cloud.bigquery
%env GCLOUD_PROJECT=nbcu-ds-sandbox-a-001

env: GCLOUD_PROJECT=nbcu-ds-sandbox-a-001

In [2]:
start_date = '2022-01-01'
end_date = '2023-12-31'

In [3]:
def get_monthly_report_dates(start_date, end_date):
    start = datetime.strptime(start_date, "%Y-%m-%d")
    end = datetime.strptime(end_date, "%Y-%m-%d")
    monthly_reports = {}

    while start <= end:
        month_year = start.strftime("%b_%Y")
        report_start_date = start.replace(day=1)
        next_month = start.replace(day=28) + timedelta(days=4)
        report_end_date = next_month - timedelta(days=next_month.day)
        monthly_reports[month_year] = {
            "report_start_date": report_start_date.strftime("%Y-%m-%d"),
            "report_end_date": report_end_date.strftime("%Y-%m-%d")
        }
        start = next_month

    return monthly_reports

def generate_report_variants(period_dict, suffix="report"):
    return {'_'.join([period, suffix]): {'string_format': {'report': period}, 'params': params} for period, params in period_dict.items()}

In [4]:
months = get_monthly_report_dates(start_date, end_date)
monthly_viewing_tables = generate_report_variants(months, 'viewing')
month_tables = generate_report_variants(months)
bq = QueryTool()

In [5]:
with open('Platform_Metrics.sql', 'r') as file:
    sql_file = file.read()
    bq.add(sql_file, month_tables)

Added: Jan_2022_report	 | 	Awaiting start
Added: Feb_2022_report	 | 	Awaiting start
Added: Mar_2022_report	 | 	Awaiting start
Added: Apr_2022_report	 | 	Awaiting start
Added: May_2022_report	 | 	Awaiting start
Added: Jun_2022_report	 | 	Awaiting start
Added: Jul_2022_report	 | 	Awaiting start
Added: Aug_2022_report	 | 	Awaiting start
Added: Sep_2022_report	 | 	Awaiting start
Added: Oct_2022_report	 | 	Awaiting start
Added: Nov_2022_report	 | 	Awaiting start
Added: Dec_2022_report	 | 	Awaiting start
Added: Jan_2023_report	 | 	Awaiting start
Added: Feb_2023_report	 | 	Awaiting start
Added: Mar_2023_report	 | 	Awaiting start
Added: Apr_2023_report	 | 	Awaiting start
Added: May_2023_report	 | 	Awaiting start
Added: Jun_2023_report	 | 	Awaiting start
Added: Jul_2023_report	 | 	Awaiting start
Added: Aug_2023_report	 | 	Awaiting start
Added: Sep_2023_report	 | 	Awaiting start
Added: Oct_2023_report	 | 	Awaiting start
Added: Nov_2023_report	 | 	Awaiting start
Added: Dec_2023_report	 | 	Awaiting start

In [6]:
bq.start()

start 9c2954da-c94b-4d7c-9a2a-47ab6c41dacb
start 7a4fa183-93d7-4e71-bb4a-e3ce1db975ca
start b4a7e41a-39b4-42eb-9c8d-f2ab712a510e
start 1d074640-ed0f-4a7b-bc2e-1df12d991a9b
start 37cba95a-65d5-4714-b5f9-cc0ce9ca3cf2
start dfe782d2-fbd6-4deb-a6b5-54f18dfce9a5
start 6f1edef7-58b2-4ada-9d4d-d6f85896580c
start ec1600de-49d8-4f1d-acaa-00e007d959a2
start ba4aaf14-86e4-4152-ac72-d462a6f764b1
start 0a1278bf-1526-47f8-83af-0b9f8d5c8ad5
start 46aa047d-9eaf-4ee0-a574-9ba390dadc49
start b27d3193-6c0d-456e-bb02-22088089bbad
start e1b4b5a8-a5a1-47a9-af35-39f64da63ece
start cae79a9a-6187-4380-8122-a62622858530
start 1ceaab95-f30c-4692-9858-072de426adcd
start adbaa979-6bc9-4249-a14c-b97b3b45633f
start fbc9b3ba-9492-46b2-a168-abdf6a2a3613
start 1f111c41-0635-4bfb-b9dd-8cb7b3e9ba09
start 825823b6-5a32-45d2-a556-b77a20af7ae8
start f364d08e-25c3-4c37-94ee-24795e911647
start 7b6326c9-636f-4bc1-94bb-9c59e9d3dddf
start e9732846-0db5-4ccf-a95a-153a36ca8995
start f5a913d7-3970-4d3a-96e4-808b639d90bb
start a903018e-a7bc-47e1-84e9-c864520cd564
All jobs in queue started

In [9]:
bq.update()

Active jobs:


Finished jobs:
Jan_2022_report	 | 	37cba95a-65d5-4714-b5f9-cc0ce9ca3cf2	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Feb_2022_report	 | 	ec1600de-49d8-4f1d-acaa-00e007d959a2	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Mar_2022_report	 | 	ba4aaf14-86e4-4152-ac72-d462a6f764b1	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Apr_2022_report	 | 	7b6326c9-636f-4bc1-94bb-9c59e9d3dddf	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
May_2022_report	 | 	b27d3193-6c0d-456e-bb02-22088089bbad	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Jun_2022_report	 | 	e1b4b5a8-a5a1-47a9-af35-39f64da63ece	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Jul_2022_report	 | 	cae79a9a-6187-4380-8122-a62622858530	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Aug_2022_report	 | 	e9732846-0db5-4ccf-a95a-153a36ca8995	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Sep_2022_report	 | 	f364d08e-25c3-4c37-94ee-24795e911647	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Oct_2022_report	 | 	0a1278bf-1526-47f8-83af-0b9f8d5c8ad5	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Nov_2022_report	 | 	a903018e-a7bc-47e1-84e9-c864520cd564	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Dec_2022_report	 | 	1d074640-ed0f-4a7b-bc2e-1df12d991a9b	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Jan_2023_report	 | 	b4a7e41a-39b4-42eb-9c8d-f2ab712a510e	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Feb_2023_report	 | 	7a4fa183-93d7-4e71-bb4a-e3ce1db975ca	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Mar_2023_report	 | 	fbc9b3ba-9492-46b2-a168-abdf6a2a3613	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Apr_2023_report	 | 	1f111c41-0635-4bfb-b9dd-8cb7b3e9ba09	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
May_2023_report	 | 	6f1edef7-58b2-4ada-9d4d-d6f85896580c	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Jun_2023_report	 | 	dfe782d2-fbd6-4deb-a6b5-54f18dfce9a5	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Jul_2023_report	 | 	adbaa979-6bc9-4249-a14c-b97b3b45633f	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Aug_2023_report	 | 	f5a913d7-3970-4d3a-96e4-808b639d90bb	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Sep_2023_report	 | 	825823b6-5a32-45d2-a556-b77a20af7ae8	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Oct_2023_report	 | 	9c2954da-c94b-4d7c-9a2a-47ab6c41dacb	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Nov_2023_report	 | 	1ceaab95-f30c-4692-9858-072de426adcd	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE
Dec_2023_report	 | 	46aa047d-9eaf-4ee0-a574-9ba390dadc49	 | 	Created: Jan 16, 2024 10:09 AM	 | 	Last Checked: Jan 16, 2024 11:03 AM	 | 	DONE

In [10]:
# Merge and group monthly results
query = """
        CREATE or replace TABLE `nbcu-ds-sandbox-a-001.SLi_sandbox.CRM_Contribution_Platform_Metrics` AS 
        
        SELECT *
        FROM ( 
        """ + \
        (' UNION ALL ').join([f'(select * from `nbcu-ds-sandbox-a-001.SLi_sandbox.CRM_Platform_Metrics_{report}`)' for report in months]) + \
        """
        )
        """
        
with bigquery.Client() as client:
    client.query(query).result()

In [11]:
%%bigquery

CREATE or replace TABLE `nbcu-ds-sandbox-a-001.SLi_sandbox.GOLD_EMAIL_CHANNEL_PERFORMANCE_PLATFORM` AS
SELECT  Report_Month
       ,Email_Audience_Flag
       ,Email_Cohort

       ,Account_Type
       ,Active_Viewer
       ,Last_Paid_Tenure
       ,Offer_Type
       ,Entitlement
       ,Paying_Account_Flag
       ,Inflow

       ,COUNT(DISTINCT aid)            AS Users
       ,SUM(Viewer)                    AS Viewers
       ,SUM(Viewing_Time)              AS Viewing_Time
       ,SUM(Repertoire_Pavo_Method)    AS Repertoire
       ,SUM(Distinct_Viewing_Sessions) AS Viewing_Sessions
       ,SUM(active_days)               AS Active_Days
       ,SUM(Lapsed_Save_Denom)         AS Lapsed_Save_Denom
       ,SUM(Lapsed_Save_Num)           AS Lapsed_Save_Num
       ,SUM(Lapsing_Save_Denom)        AS Lapsing_Save_Denom
       ,SUM(Lapsing_Save_Num)          AS Lapsing_Save_Num
       ,SUM(Free_To_Paid_Denom)        AS Free_To_Paid_Denom
       ,SUM(Free_To_Paid_Num)          AS Free_To_Paid_Num
       ,SUM(Net_New_Upgrade_Denom)     AS Net_New_Upgrade_Denom
       ,SUM(Net_New_Upgrade_Num)       AS Net_New_Upgrade_Num
       ,SUM(Paid_Winbacks_Denom)       AS Paid_Winbacks_Denom
       ,SUM(Paid_Winbacks_Num)         AS Paid_Winbacks_Num
       ,SUM(Cancel_Save_Denom)         AS Cancel_Save_Denom
       ,SUM(Cancel_Save_Num)           AS Cancel_Save_Num
       ,SUM(EOM_Paid_Churn_Denom)      AS EOM_Paid_Churn_Denom
       ,SUM(EOM_Paid_Churn_Num)        AS EOM_Paid_Churn_Num
FROM (
    SELECT *
    FROM `nbcu-ds-sandbox-a-001.SLi_sandbox.CRM_Contribution_Platform_Metrics`
)
GROUP BY  Report_Month
         ,Email_Audience_Flag
         ,Email_Cohort
         ,Account_Type
         ,Active_Viewer
         ,Last_Paid_Tenure
         ,Offer_Type
         ,Entitlement
         ,Paying_Account_Flag
         ,Inflow

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

# Pull Results

In [24]:
%%bigquery df_paying

WITH a AS
(
SELECT  Report_Month
       ,SUM(Users)                                                                                                   AS Users
       ,SUM(CASE WHEN Email_Audience_Flag = 1 THEN Users END)                                                        AS Email_Users
       ,SUM(CASE WHEN Email_Cohort = 'Targeted' THEN Users END)                                                      AS Targeted_Users
       ,SUM(CASE WHEN Email_Cohort = 'Holdout' THEN Users END)                                                       AS Holdout_Users 
	   -- Usage 
       ,SUM(Viewing_Time)                                                                                            AS Platform_Usage_Hours
       ,SUM(CASE WHEN Email_Cohort = 'Targeted' THEN Viewing_Time END)                                               AS Targeted_Usage_Hours
       ,SUM(CASE WHEN Email_Cohort = 'Holdout' THEN Viewing_Time END)                                                AS Holdout_Usage_Hours 
	   -- Repertoire 
       ,SUM(Repertoire)                                                                                  AS Platform_Rep
       ,SUM(CASE WHEN Email_Cohort = 'Targeted' THEN Repertoire END)                                     AS Targeted_Rep
       ,SUM(CASE WHEN Email_Cohort = 'Holdout' THEN Repertoire END)                                      AS Holdout_Rep 
	   -- Frequency 
       ,SUM(Viewing_Sessions)                                                                               AS Platform_Frequency
       ,SUM(CASE WHEN Email_Cohort = 'Targeted' THEN Viewing_Sessions END)                                  AS Targeted_Frequency
       ,SUM(CASE WHEN Email_Cohort = 'Holdout' THEN Viewing_Sessions END) AS Holdout_Frequency 
	/*
          -- FTP inflows 
       ,SUM(CASE WHEN Inflow = 1 THEN Free_To_Paid_Denom END)                                                        AS Platform_FTP_Denom
       ,SUM(CASE WHEN (Email_Cohort = 'Targeted') AND (Inflow = 1) THEN Free_To_Paid_Denom END)                          AS Targeted_FTP_Denom
       ,SUM(CASE WHEN (Email_Cohort = 'Holdout') AND (Inflow = 1) THEN Free_To_Paid_Denom END)                           AS Holdout_FTP_Denom
       ,SUM(CASE WHEN Inflow = 1 THEN Free_To_Paid_Num END)                                                          AS Platform_FTP_Num
       ,SUM(CASE WHEN (Email_Cohort = 'Targeted') AND (Inflow = 1) AND (Free_To_Paid_Denom = 1) THEN Free_To_Paid_Num END) AS Targeted_FTP_Num
       ,SUM(CASE WHEN (Email_Cohort = 'Holdout') AND (Inflow = 1) AND (Free_To_Paid_Denom = 1) THEN Free_To_Paid_Num END)  AS Holdout_FTP_Num 
	*/
          -- Churn 
       ,SUM(EOM_Paid_Churn_Denom)                                                                                    AS Platform_Churn_Denom
       ,SUM(CASE WHEN Email_Cohort = 'Targeted' THEN EOM_Paid_Churn_Denom END)                                       AS Targeted_Churn_Denom
       ,SUM(CASE WHEN Email_Cohort = 'Holdout' THEN EOM_Paid_Churn_Denom END)                                        AS Holdout_Churn_Denom
       ,SUM(EOM_Paid_Churn_Num)                                                                                      AS Platform_Churn_Num
       ,SUM(CASE WHEN Email_Cohort = 'Targeted' THEN EOM_Paid_Churn_Num END)            AS Targeted_Churn_Num
       ,SUM(CASE WHEN Email_Cohort = 'Holdout' THEN EOM_Paid_Churn_Num END)             AS Holdout_Churn_Num
	FROM `nbcu-ds-sandbox-a-001.SLi_sandbox.GOLD_EMAIL_CHANNEL_PERFORMANCE_PLATFORM`
	WHERE paying_account_flag = 'Paying'
	GROUP BY  1
)
SELECT  Report_Month
       ,Users
       ,Email_Users
	   -- Usage
       ,Platform_Usage_Hours
       ,(Targeted_Usage_Hours/Targeted_Users - Holdout_Usage_Hours/Holdout_Users)*Targeted_Users                        AS Incremental_Email_Usage_Hours
       ,(Targeted_Usage_Hours/Targeted_Users - Holdout_Usage_Hours/Holdout_Users)*Targeted_Users / Platform_Usage_Hours AS Email_Usage_Hours_Contribution
		-- Repertoire
       ,Platform_Rep
       ,(Targeted_Rep/Targeted_Users - Holdout_Rep/Holdout_Users)*Targeted_Users                        AS Incremental_Email_Rep
       ,(Targeted_Rep/Targeted_Users - Holdout_Rep/Holdout_Users)*Targeted_Users / Platform_Rep AS Email_Rep_Contribution
	   -- Frequency
       ,Platform_Frequency
       ,(Targeted_Frequency/Targeted_Users - Holdout_Frequency/Holdout_Users)*Targeted_Users                        AS Incremental_Email_Frequency
       ,(Targeted_Frequency/Targeted_Users - Holdout_Frequency/Holdout_Users)*Targeted_Users / Platform_Frequency AS Email_Frequency_Contribution
       /*
	   -- FTP
       ,Platform_FTP_Denom                                                                                                    AS Free_Users_Inflows
       ,Platform_FTP_Num                                                                                                      AS Free_to_Paid_Inflows
       ,(Targeted_FTP_Num/Targeted_FTP_Denom - Holdout_FTP_Num/Holdout_FTP_Denom)*Targeted_FTP_Denom                        AS Incremental_Email_FTP_Num
       ,(Targeted_FTP_Num/Targeted_FTP_Denom - Holdout_FTP_Num/Holdout_FTP_Denom)*Targeted_FTP_Denom / Platform_FTP_Denom AS Email_FTP_Num_Contribution
       */
	   -- Churn
       ,Platform_Churn_Denom                                                                                                                AS Paid_Users
       ,Platform_Churn_Num                                                                                                                  AS Churned_Users
       ,(SAFE_DIVIDE(Targeted_Churn_Num, Targeted_Churn_Denom) - SAFE_DIVIDE(Holdout_Churn_Num, Holdout_Churn_Denom)) * Targeted_Churn_Denom                        AS Incremental_Email_Churn_Num
       ,SAFE_DIVIDE( (SAFE_DIVIDE(Targeted_Churn_Num, Targeted_Churn_Denom) - SAFE_DIVIDE(Holdout_Churn_Num, Holdout_Churn_Denom)) * Targeted_Churn_Denom, Platform_Churn_Denom) AS Email_Churn_Num_Contribution
FROM a
ORDER BY 1

Query is running:   0%|          |

Downloading:   0%|          |

In [26]:
df_paying.to_excel('crm_contribution_qa.xlsx')

In [19]:
%%bigquery 
SELECT Report_Month
,SUM(EOM_Paid_Churn_Denom)                                                                                    AS Platform_Churn_Denom
,SUM(CASE WHEN Email_Cohort = 'Targeted' THEN EOM_Paid_Churn_Denom END)                                       AS Targeted_Churn_Denom
,SUM(CASE WHEN Email_Cohort = 'Holdout' THEN EOM_Paid_Churn_Denom END)                                        AS Holdout_Churn_Denom
,SUM(EOM_Paid_Churn_Num)                                                                                      AS Platform_Churn_Num
,SUM(CASE WHEN Email_Cohort = 'Targeted' THEN EOM_Paid_Churn_Num END)            AS Targeted_Churn_Num
,SUM(CASE WHEN Email_Cohort = 'Holdout' THEN EOM_Paid_Churn_Num END)             AS Holdout_Churn_Num
FROM `nbcu-ds-sandbox-a-001.SLi_sandbox.GOLD_EMAIL_CHANNEL_PERFORMANCE_PLATFORM`
WHERE paying_account_flag = 'Paying' and report_month >= '2023-01-01'
GROUP BY 1
ORDER BY 1

Query is running:   0%|          |

Downloading:   0%|          |

,Report_Month,Platform_Churn_Denom,Targeted_Churn_Denom,Holdout_Churn_Denom,Platform_Churn_Num,Targeted_Churn_Num,Holdout_Churn_Num
0,2023-01-01,21306414,10432408,481119,1312745,626352,29588
1,2023-02-01,21340572,12935147,481830,1143230,640133,25725
2,2023-03-01,21640545,14696292,490270,1111805,711494,25338
3,2023-04-01,21829723,13762340,445633,1158194,706202,23200
4,2023-05-01,21908621,13549452,449718,1305096,769650,26319
5,2023-06-01,24499160,14431107,497873,1510342,852139,30499
6,2023-07-01,26019336,13753946,588002,1377679,683420,29329
7,2023-08-01,26975291,13909261,594924,1429045,704737,29581
8,2023-09-01,28065836,14484779,599356,1367673,676014,26197
9,2023-10-01,29297085,16150293,548303,1679186,859374,27391
10,2023-11-01,30741841,16538499,549015,1864551,988413,28874
11,2023-12-01,0,0,0,0,0,0