In [1]:
import pandas as pd
import seaborn as sns

%load_ext google.cloud.bigquery

Note: v2 version changed to exclude unsubs compared to cloud vers

In [ ]:
%%bigquery --project nbcu-ds-sandbox-a-001
SELECT distinct campaign_name
FROM `nbcu-ds-prod-001.PeacockDataMartSilver.SILVER_MPARTICLE_BRAZE`
where lower(campaign_name) like 'transactional%'

Query is running:   0%|          |

Downloading:   0%|          |

                                 campaign_name
0       TransactionalTermsOfUseEngaged20221028
1  Transactional_ProductAnnualRenewal_20220805
2         Transactional_OSDeprecation_20210218
3    TransactionalTermsOfUseNONEngaged20221028
4    TransactionalFamilyControlProfile20221209

In [38]:
%%bigquery --project nbcu-ds-sandbox-a-001
SELECT distinct campaignname
FROM `nbcu-sdp-prod-003.sdp_persistent_views.BrazeMarketingView`
where lower(campaignname) like 'transactional%'

Query is running:   0%|          |

Downloading:   0%|          |

                                  campaignname
0       TransactionalTermsOfUseEngaged20221028
1  Transactional_ProductAnnualRenewal_20220805
2         Transactional_OSDeprecation_20210218
3    TransactionalTermsOfUseNONEngaged20221028
4    TransactionalFamilyControlProfile20221209

# V2 vs. V2b

Changelog:

- Addition of between statements (functionally equivalent) in Holdout
- Filter more transactional emails in Holdout and Email Engagers (`lower(campaignname) not like 'transactional'`)
- Winback Numerator redefinition

## Engager

In [41]:
%%bigquery v2 --project nbcu-ds-sandbox-a-001
SELECT count(DISTINCT identity)
FROM  `nbcu-sdp-prod-003.sdp_persistent_views.BrazeMarketingView` 
WHERE eventName = 'Email Opens' and machineOpen is null
AND date(eventTimestamp) <= '2023-01-31'
AND campaignName NOT IN ('TransactionalTermsOfUseEngaged20221028', 'TransactionalTermsOfUseNONEngaged20221028') -- Exclude email openers of Oct privacy email

Query is running:   0%|          |

Downloading:   0%|          |

In [43]:
v2

        f0_
0  68781108

In [42]:
%%bigquery v2 --project nbcu-ds-sandbox-a-001
SELECT count(DISTINCT identity)
FROM  `nbcu-sdp-prod-003.sdp_persistent_views.BrazeMarketingView` 
WHERE eventName = 'Email Opens' and machineOpen is null
AND date(eventTimestamp) <= '2023-01-31'
AND lower(campaignName) NOT LIKE 'transactional' -- Exclude email openers of Oct privacy email

Query is running:   0%|          |

Downloading:   0%|          |

In [44]:
v2b

        f0_
0  11168573

## Holdout

In [45]:
%%bigquery v2 --project nbcu-ds-sandbox-a-001
select count(distinct adobe_tracking_id) from `nbcu-ds-sandbox-a-001.SLi_sandbox.Holdout_v2_Jan23`

Query is running:   0%|          |

Downloading:   0%|          |

In [46]:
v2

       f0_
0  3376951

In [47]:
%%bigquery v2b --project nbcu-ds-sandbox-a-001
select count(distinct adobe_tracking_id) from `nbcu-ds-sandbox-a-001.SLi_sandbox.Holdout_v2b_Jan23`

Query is running:   0%|          |

Downloading:   0%|          |

In [48]:
v2b

       f0_
0  3376951

## All Cohorts

In [49]:
%%bigquery v2 --project nbcu-ds-sandbox-a-001
select count(distinct aid) from `nbcu-ds-sandbox-a-001.SLi_sandbox.All_Cohorts_v2_Jan23`

Query is running:   0%|          |

Downloading:   0%|          |

In [50]:
v2

        f0_
0  30943230

In [51]:
%%bigquery v2b --project nbcu-ds-sandbox-a-001
select count(distinct aid) from `nbcu-ds-sandbox-a-001.SLi_sandbox.All_Cohorts_v2b_Jan23`

Query is running:   0%|          |

Downloading:   0%|          |

In [52]:
v2b

        f0_
0  30942485

# V2b vs. V3

# Results